.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.todo-form form {
  display: flex;
  flex-direction: column;
}

.todo-form label {
  font-weight: bold;
  margin-bottom: 30px;
}

.todo-form input {
  padding: 5px;
  width: 100%;
}

.todo-form button {
  margin-top: 30px;
}
